$FontFamily: var(--fontFamity);
.contentWrapper {
    min-height: 227px;
    transition: margin-left 0.3s ease-in-out;
    margin-left: 272px;
    .bcpActivated {
        padding: 31px 30px 32px 28px !important;
        background-color: #fff;
        h3 {
            color: #000;
            font-weight: 400;
            font-size: 24px;
            line-height: 32px;
            font-family: $FontFamily;
        }
        .afterApproved {
            background-color: #fff;
        }
    }
    .innerSec {
        padding: 53px 44px;
        .panelSection {
            background-color: #ffffff;
            padding: 40px;
            border-radius: 24px;
            h2 {
                font-family: $FontFamily;
                font-style: normal;
                font-weight: 500;
                font-size: 36px;
                line-height: 48px;
                margin-bottom: 4px;
                color: #000000;
            }
            h3 {
                font-family: var(--fontFamity);
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 32px;
                margin-bottom: 20px;
                color: #000000;
            }
            p {
                font-weight: 400;
                font-size: 20px;
                line-height: 28px;
                color: #c2c9d1;
                span {
                    color: #3e66fb;
                }
            }
            .approvedBtn {
                width: 105px;
                height: 40px;
                margin-top: 45px;
                img {
                    width: 100%;
                }
            }
            .complete {
                float: right;
                img {
                    width: 20px;
                    margin-right: 4px;
                    float: left;
                }
                span {
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 16px;
                    color: #3cc13b;
                }
            }
            .pending {
                float: right;
                img {
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 6px;
                    width: 20px;
                }
                span {
                    display: inline-block;
                    vertical-align: middle;
                    font-size: 20px;
                    line-height: 28px;
                    font-weight: 500;
                    color: #3e66fb;
                    font-weight: 500;
                }
            }
            // ------------form Sec-----------------
            .formSec {
                margin-top: 24px;
                .customeFormGroup {
                    margin-bottom: 24px;
                    position: relative;
                    label {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                        font-family: $FontFamily;
                        margin-bottom: 7px;
                        span {
                            font-weight: 500;
                            color: #000;
                        }
                    }
                    select {
                        border-radius: 11.2558px;
                        border: 1px solid #e1e4e8;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 20px;
                        padding: 4px 15px;
                        width: 100%;
                        height: 42px;
                        color: #b57bff;
                    }
                    .optionDivSec {
                        background: #fff;
                        z-index: 999;
                        position: relative;
                        label {
                            font-weight: 300;
                            font-size: 10px;
                            line-height: 14px;
                            color: #000;
                            font-family: $FontFamily;
                            span {
                                font-weight: 500;
                            }
                        }
                        .styledCheckbox {
                            position: absolute; // take it out of document flow
                            opacity: 0; // hide it

                            & + label {
                                position: relative;
                                cursor: pointer;
                                padding: 0;
                                float: right;
                                margin-top: 5px;
                            }

                            // Box.
                            & + label:before {
                                content: "";
                                margin-right: 10px;
                                display: inline-block;
                                vertical-align: text-top;
                                width: 14px;
                                height: 14px;
                                background: white;
                                border: 1.5px solid #b57bff;
                                border-radius: 3px;
                            }
                            // Box focus
                            &:focus + label:before {
                                box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
                            }

                            // Box checked
                            &:checked + label:before {
                                background: #b57bff;
                            }

                            // Disabled state label.
                            &:disabled + label {
                                color: #b8b8b8;
                                cursor: auto;
                            }

                            // Disabled box.
                            &:disabled + label:before {
                                box-shadow: none;
                                background: #ddd;
                            }

                            // Checkmark. Could be replaced with an image
                            &:checked + label:after {
                                content: "";
                                position: absolute;
                                left: 2px;
                                top: 7px;
                                background: white;
                                width: 2px;
                                height: 2px;
                                box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white,
                                    4px -6px 0 white, 4px -8px 0 white;
                                transform: rotate(45deg);
                            }
                        }
                    }
                    textarea {
                        border-radius: 11.2558px;
                        border: 1px solid #e1e4e8;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 20px;
                        padding: 4px 15px;
                        width: 100%;
                        height: 42px;
                        color: #b57bff;
                        &::placeholder {
                            color: #c2c9d1;
                        }
                    }
                    textarea {
                        height: 140px;
                    }
                }
                .buttonSec {
                    margin-top: 10px;
                    button {
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 24px;
                        height: 40px;
                        text-align: center;
                        font-family: $FontFamily;
                        border-radius: 100px;
                        margin: 0 8px;
                        border: 1px solid #b57bff;
                        padding: 0px 40px;
                        &.importBtn {
                            color: #b57bff;
                            background: #fff;
                        }
                        &.AddBtn {
                            background: #b57bff;
                            color: #fff;
                            position: relative;
                            span {
                                font-weight: 400;
                                font-size: 10px;
                                line-height: 12px;
                                color: #f03738;
                                position: absolute;
                                bottom: -20px;
                                display: block;
                                margin: auto;
                            }
                        }
                    }
                }
            }
            // ---------------bottomSec---------
            .bottomSec {
                display: flex;
                width: 100%;
                margin-top: 30px;
                .LeftSec {
                    width: 45%;
                    .uploadSec {
                        width: 100%;
                        display: block;
                        h4 {
                            color: #000000;
                            font-weight: 500;
                            font-size: 20px;
                            line-height: 28px;
                            margin-bottom: 16px;
                            font-family: $FontFamily;
                        }
                        .downloadMode {
                            background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)),
                                #b57bff;
                            border-radius: 12px;
                            display: flex;
                            justify-content: space-between;
                            border-radius: 12px;
                            padding: 10px 20px;
                            align-items: center;
                            margin-bottom: 24px;
                            h5 {
                                color: #b57bff;
                                font-size: 14px;
                                font-weight: 500;
                                margin-bottom: 0px;
                                font-family: $FontFamily;
                            }
                            a {
                                img {
                                    object-fit: contain;
                                }
                            }
                        }
                        .uploader {
                            display: inline-flex;
                            width: 70%;
                            input[type="file"] {
                                display: none;
                            }
                            label {
                                float: left;
                                clear: both;
                                width: 100%;
                                padding: 2rem 1.5rem;
                                text-align: center;
                                border-radius: 13px;
                                transition: all 0.2s ease;
                                user-select: none;
                                height: 118px;
                                background: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)),
                                    #b57bff;
                                border: 1px dashed #b57bff;
                                &:hover {
                                    border-color: blue;
                                }
                                &.hover {
                                    border: 3px solid blue;
                                    box-shadow: inset 0 0 0 6px #eee;
                                }
                                .start {
                                    p {
                                        color: #92979d;
                                        font-weight: 400;
                                        font-size: 12px;
                                        font-family: $FontFamily;
                                        line-height: 16px;
                                        margin-top: 10px;
                                        -webkit-transition: opacity 300ms ease-in-out;
                                        transition: opacity 300ms ease-in-out;
                                        span {
                                            color: #b57bff;
                                        }
                                    }
                                }
                            }
                            &:hover {
                                .start {
                                    p {
                                        opacity: 0.7;
                                    }
                                }
                            }
                        }
                        .docType {
                            width: 30%;
                            padding-left: 15px;
                            padding-top: 16px;
                            display: inline-flex;
                            ul {
                                padding: 0px;
                                margin: 0px;
                                list-style: none;
                                width: 100%;
                                li {
                                    position: relative;
                                    padding-left: 0px;
                                    img {
                                        float: left;
                                        margin-right: 10px;
                                        margin-top: 2px;
                                    }
                                    h5 {
                                        color: #000;
                                        font-size: 14px;
                                        line-height: 20px;
                                        font-weight: 400;
                                        margin-bottom: 3px;
                                        font-family: $FontFamily;
                                    }
                                    h6 {
                                        color: #c2c9d1;
                                        font-size: 12px;
                                        line-height: 16px;
                                        font-weight: 400;
                                        margin-bottom: 0px;
                                        font-family: $FontFamily;
                                    }
                                }
                            }
                        }
                    }
                    .FileUpload {
                        text-align: left;
                        transition: none 500ms ease-in-out;
                        transition-property: opacity, visibility;
                        transition-delay: 500ms;
                        opacity: 1;
                        height: auto;
                        width: 100%;
                        margin-top: 10px;
                        .uploadedArea {
                            background: linear-gradient(0deg, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)),
                                #c2c9d1;
                            border-radius: 8px;
                            padding: 9px 11px;
                            display: flex;
                            align-items: center;
                            .uploadedIcon {
                                position: relative;
                                margin-right: 0.3125rem;
                                .uploadedText {
                                    font-weight: 400;
                                    font-size: 12px;
                                    line-height: 16px;
                                    color: #c2c9d1;
                                    margin-left: 10px;
                                    font-family: $FontFamily;
                                }
                            }
                            .uploadedInfo {
                                position: relative;
                                width: 100%;
                                display: -webkit-box;
                                display: -ms-flexbox;
                                display: flex;
                                -webkit-box-pack: justify;
                                -ms-flex-pack: justify;
                                justify-content: space-between;
                                padding-left: 10px;
                                .uploadedFileName {
                                    width: 100%;
                                    max-width: 240px;
                                    display: inline-block;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    color: #000000;
                                    font-weight: 400;
                                    font-size: 13px;
                                    font-family: $FontFamily;
                                    line-height: 24px;
                                    text-transform: capitalize;
                                }
                                .completeUpload {
                                    margin-left: 5px;
                                    margin-top: -2px;
                                }
                            }
                            .downloadSec {
                                a {
                                    img {
                                        object-fit: contain;
                                    }
                                    span {
                                        color: #b57bff;
                                        font-size: 11px;
                                        font-family: $FontFamily;
                                        font-weight: 500;
                                        display: inline-block;
                                        margin-left: 6px;
                                    }
                                }
                            }
                        }
                    }
                }
                .RightSec {
                    width: 55%;
                    padding-left: 35px;
                    .statusSec {
                        .headingSec {
                            display: flex;
                            justify-content: space-between;
                            background-color: #000000;
                            align-items: center;
                            padding: 18px 15px;
                            border-radius: 15px 15px 0 0;
                            h5 {
                                color: #ffffff;
                                margin: 0;
                                font-size: 16px;
                                line-height: 24px;
                                font-weight: 500;
                                font-family: $FontFamily;
                            }
                            .curentStatus {
                                span {
                                    font-size: 16px;
                                    line-height: 24px;
                                    font-weight: 500;
                                    margin-left: 5px;
                                    font-family: $FontFamily;
                                    &.aproved {
                                        color: #3cc13b;
                                    }
                                    &.await {
                                        color: #9eb3fd;
                                    }
                                }
                            }
                        }
                        .bodyarea {
                            border-radius: 0 0 15px 15px;
                            background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)),
                                #c2c9d1;
                            list-style: none;
                            padding: 0;
                            margin: 0;
                            padding: 18px 15px;
                            position: relative;
                            height: 218px;
                            overflow-y: scroll;
                            &::-webkit-scrollbar {
                                width: 6px;
                                border-radius: 10px;
                                background-color: transparent;
                            }
                            &::-webkit-scrollbar-track {
                                border-radius: 10px;
                            }
                            &::-webkit-scrollbar-thumb {
                                background: #c2c9d1;
                                border-radius: 10px;
                            }
                            &::-webkit-scrollbar-thumb:hover {
                                background: #c2c9d1;
                            }
                            li {
                                position: relative;
                                padding-left: 32px;
                                margin-bottom: 15px;
                                &::before {
                                    content: "";
                                    display: block;
                                    position: absolute;
                                    background-color: #e1e4e8;
                                    top: 10px;
                                    bottom: -40px;
                                    left: 9px;
                                    width: 2px;
                                }
                                img {
                                    position: absolute;
                                    top: 5px;
                                    left: 0px;
                                }
                                h5 {
                                    font-size: 14px;
                                    line-height: 20px;
                                    margin-bottom: 2px;
                                    color: #92979d;
                                    font-family: $FontFamily;
                                    font-weight: 400;
                                    span {
                                        font-weight: 500;
                                        color: #b57bff;
                                    }
                                }
                                h6 {
                                    color: #c2c9d1;
                                    font-family: $FontFamily;
                                    font-size: 10px;
                                    line-height: 14px;
                                    margin-bottom: 0;
                                    font-weight: 400;
                                }
                            }
                            .noUpdate {
                                color: #c2c9d1;
                                font-weight: 400;
                                font-size: 12px;
                                font-family: $FontFamily;
                                line-height: 20px;
                                justify-content: center;
                                display: flex;
                                align-items: center;
                                margin: auto;
                                height: 100%;
                            }
                        }
                    }
                }
            }
            // ----list--------
            .listSec {
                padding: 15px 20px;
                transition: all 0.2s linear 0s;
                margin-bottom: 24px;
                width: 100%;
                background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), #c2c9d1;
                border-radius: 8px;
                &:hover {
                    box-shadow: 0px 6px 12px #ecebeb;
                }
                .dashboardTitle {
                    font-size: 20px !important;
                    line-height: 62px !important;
                    font-weight: 500;
                    height: 64px !important;
                    width: 64px !important;
                    color: #fff;
                    text-align: center;
                    background-color: #9eb2fd;
                    border-radius: 50px;
                    margin: 0px;
                }
                h5 {
                    color: #3e66fb;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                }
                .dropDownSelection {
                    min-width: -moz-fit-content;
                    max-width: 185px;
                    margin-top: -5px;
                    display: flex;
                    justify-content: flex-end;
                }

                .dateSec {
                    font-size: 14px;
                    line-height: 20px;
                    color: #92979d !important;
                    font-weight: 400;
                }
                .timeSec {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    color: #c2c9d1;
                }
                .finishSetupBtn,
                .viewBtn {
                    padding: 7px 22px;
                    min-width: auto;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 8px;
                    background-color: #b57bff;
                    color: #fff;
                    margin-left: 11px;
                    border-radius: 100px;
                    &:hover {
                        color: #fff;
                    }
                }
                .viewBtn {
                    margin-left: 0px;
                }
                .downloadSec {
                    margin-right: 18px;
                    a {
                        img {
                            object-fit: contain;
                        }
                        span {
                            color: #b57bff;
                            font-size: 14px;
                            font-family: $FontFamily;
                            font-weight: 500;
                            display: inline-block;
                            margin-left: 6px;
                        }
                    }
                }
                .status {
                    // margin-left: 50px;
                    min-width: 140px;
                    a {
                        img {
                            margin-right: 9px;
                            width: 20px;
                            object-fit: contain;
                        }
                        span {
                            font-size: 14px;
                            line-height: 20px;
                            font-weight: 500;
                            display: inline-block;
                        }
                    }
                    &.compliant {
                        a {
                            span {
                                color: #3cc13b;
                            }
                        }
                    }
                    &.nonCompliant {
                        a {
                            span {
                                color: #f03738;
                            }
                        }
                    }
                }
            }

            // -----------------------Enhance----------------------
            .enhanceSection {
                display: flex;
                flex-wrap: wrap;
                margin-left: -15px;
                margin-right: -15px;
                margin-top: 24px;
                .box {
                    flex: 0 0 33.33%;
                    width: 33.33%;
                    padding: 0 15px;
                    margin-bottom: 32px;
                    .boxContent {
                        background: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), #3e66fb;
                        border-radius: 12px;
                        padding: 20px;
                        border: 2px solid #cfd9fe;
                        height: 100%;
                        transition: all 0.4s linear 0s;
                        cursor: pointer;
                        .add {
                            background-color: #000000;
                            height: 32px;
                            width: 32px;
                            border-radius: 50%;
                            display: block;
                            color: #ffffff;
                            font-weight: 400;
                            font-size: 22px;
                            text-align: center;
                            padding: 0px 0;
                            margin-bottom: 12px;
                        }
                        h4 {
                            color: #3e66fb;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 24px;
                            margin-bottom: 5px;
                        }
                        p {
                            color: #9eb3fd;
                            font-size: 10px;
                            line-height: 14px;
                            font-weight: 400;
                            margin-bottom: 17px;
                            padding-right: 40px;
                        }
                        a {
                            background-color: #b57bff;
                            font-weight: 500;
                            font-size: 12px;
                            line-height: 16px;
                            display: inline-block;
                            padding: 2px 16px;
                            color: #ffffff;
                            border-radius: 30px;
                        }
                        &.active {
                            background: #3e66fb;
                            border: 2px solid #3e66fb;
                            box-shadow: 0px 13px 31.85px rgba(62, 102, 251, 0.44);
                            .add {
                                background: rgba(255, 255, 255, 0.25);
                            }
                            h4 {
                                color: #ffffff;
                            }
                        }
                    }
                }
            }

            // ----------------dropDownSelection----------------
            .dropDownSelection {
                min-width: fit-content;
                margin-top: -5px;
                justify-content: flex-end;
                display: flex;
            }
        }
        .panelSec {
            background-color: #ffffff;
            border-radius: 24px;
            overflow: hidden;
            transition: all 0.3s ease;
            box-shadow: 0px 16px 24px #cdcccc;
            margin-top: 40px;
            .headeSec {
                background-color: #000;
                color: #fff;
                padding: 14px 25px;
                h3 {
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 28px;
                    span {
                        color: #ddd;
                    }
                }
            }
            // ----------------------------graph section---------------

            .recoveryTimeline {
                position: relative;
                .timelineCaption {
                    position: absolute;
                    left: 60px;
                    top: 0px;
                    background: #000;
                    width: 1px;
                    height: 100%;
                    z-index: 1;
                    span {
                        background: #000;
                        color: #fff;
                        padding: 4px 12px;
                        display: inline-block;
                        border-radius: 40px;
                        text-align: center;
                        min-width: 56px;
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                        top: 0px;
                        font-size: 14px;
                        font-weight: 500;
                    }
                }
                .jqTimepsaceContainer {
                    position: relative;
                    overflow: hidden;
                    margin: 0 auto;
                    padding: 0;
                    color: #ffffff;
                    .jqTimespaceDataContainer {
                        /*box-shadow: 0 6px 5px -5px var(--shadow);*/
                        margin: 2rem auto 1.5rem;
                        /*border: 1px solid #5f5f5f;*/
                        -moz-user-select: none;
                        user-select: none;
                        background: #fff;

                        padding-left: 60px; /*for crisis line*/
                        min-height: 275px;
                        .jqTimespaceAnimated {
                            transition: all 1.2s cubic-bezier(0.29, 0.575, 0.465, 1);
                            position: relative;
                            left: 0;
                            margin: 0;
                            padding: 0;
                            line-break: strict;
                            cursor: move;
                            height: 250px;
                            header {
                                z-index: 0;
                                position: relative;
                                background: #fff;
                                div {
                                    display: flex;
                                    position: relative;
                                    box-sizing: border-box;
                                    margin: 0;
                                    // border-bottom: 1px solid #c2c9d1;
                                    text-align: center;
                                    position: relative;
                                    &:last-child {
                                        border-bottom: 1px solid #c2c9d1;
                                        text-align: left;
                                        width: 100%;
                                        &::after {
                                            content: "";
                                            position: absolute;
                                            bottom: -1px;
                                            left: -60px;
                                            border-bottom: 1px solid #c2c9d1;
                                            width: 100%;
                                        }
                                    }
                                    time {
                                        width: 6.5%;
                                        display: block;
                                        box-sizing: border-box;
                                        margin: 0;
                                        padding: 0.5rem 0px;
                                        font-size: 12px;
                                        text-align: right;
                                        &.critical {
                                            color: #f03738;
                                            font-weight: 400;
                                            // border-left: 1px solid #ffe3e3;
                                        }
                                        &.moderate {
                                            color: #f3bb1c;
                                            font-weight: 400;
                                            // border-left: 1px solid #f7ebcb;
                                        }
                                        &.low {
                                            color: #3cc13b;
                                            font-weight: 400;
                                            // border-left: 1px solid #ccf9cb;
                                        }
                                    }
                                }
                            }
                            section {
                                z-index: 1;
                                display: flex;
                                position: relative;
                                top: 0;
                                min-height: 100%;
                                .jqTimespaceColumn {
                                    box-sizing: border-box;
                                    padding-bottom: 20px;
                                    width: 6%;
                                    &.critical {
                                        border-right: 1px solid #ffe3e3;
                                    }
                                    &.moderate {
                                        border-right: 1px solid #f7ebcb;
                                    }
                                    &.low {
                                        border-right: 1px solid #ccf9cb;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .submitDetailBtn {
            width: 157px;
            height: 40px;
            background: #3cc13b;
            border-radius: 100px;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #fff;
            padding: 0px 0px 0px;
            margin-top: 32px;
        }
    }
}
